n8n-beast-book-appointment.json
{
  "name": "Beast Assistant — Book Appointment",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "beast-book-appointment",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "beast-book-appointment"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cal.com/v2/bookings",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer cal_live_74b65e1796c7a2aa6b72965e9cb08234" },
            { "name": "cal-api-version", "value": "2024-10-21" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"eventTypeId\": 5541387,\n  \"start\": \"{{ $json.body.startTime }}\",\n  \"attendee\": {\n    \"name\": \"{{ $json.body.name }}\",\n    \"email\": \"{{ $json.body.email }}\",\n    \"timeZone\": \"{{ $json.body.timezone || 'Australia/Sydney' }}\"\n  },\n  \"metadata\": {},\n  \"bookingFieldsResponses\": {\n    \"notes\": \"{{ $json.body.notes || 'Booked via Beast Assistant voice agent' }}\"\n  }\n}",
        "options": {}
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000002",
      "name": "Create Booking",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\n// Handle both success structures\nconst booking = data?.data || data;\nconst success = data?.status === 'success' || !!booking?.uid || !!booking?.id;\n\nif (success) {\n  const startRaw = booking?.start || booking?.startTime;\n  let formattedTime = 'the confirmed time';\n  if (startRaw) {\n    const d = new Date(startRaw);\n    formattedTime = d.toLocaleString('en-US', {\n      weekday: 'long', year: 'numeric', month: 'long',\n      day: 'numeric', hour: '2-digit', minute: '2-digit', hour12: true\n    });\n  }\n  return [{ json: {\n    success: true,\n    bookingId: booking?.uid || booking?.id || 'confirmed',\n    message: `Perfect! Your 30-minute strategy call with Prajwal Bista is confirmed for ${formattedTime}. A calendar invite and confirmation email will be sent to you shortly. Prajwal looks forward to speaking with you!`\n  }}];\n} else {\n  return [{ json: {\n    success: false,\n    message: 'I was unable to complete the booking for that time slot — it may already be taken. Please choose a different time or WhatsApp Prajwal directly at +977-9869375992.'\n  }}];\n}"
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000003",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000004",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Create Booking", "type": "main", "index": 0 }]]
    },
    "Create Booking": {
      "main": [[{ "node": "Format Response", "type": "main", "index": 0 }]]
    },
    "Format Response": {
      "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-06-06T00:00:00.000Z",
  "versionId": "1"
}
